/* main: master.scss */
*{
  margin: 0;
  padding: 0;
}

body{
  min-width: 320px;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/img/proof_mobile_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // @media screen and (min-width: 377px) and (max-width: 768px){
  //   background-position: 90%;
  // }
  @media only screen
  and (max-device-width: 813px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: scroll;
  }
  @media screen and (min-width: 767px){
    height: 100vh;
    background-image: url("../assets/img/background-image-large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
  }
}

.content-container{
  border: 1px solid green;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  overflow: scroll;
  @media screen and (min-width: 767px){
    width: 50vw;
  }
}

.content-container-nested{
  border: 5px dotted salmon;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 767px){
    height: rem(650);
    margin-top: rem(50);
  }
}

.nested-logo-text{
  border: 3px dashed lightblue;
  width: 80%;
  height: rem(400);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  @media only screen
  and (max-device-width: 813px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    width: 80%;
    height: auto;
    margin-bottom: rem(35);
  }
  @media screen and (min-width: 767px){
    height: rem(480);
    margin-top: rem(30);
  }
}

.content-logo{
  border: 1px solid blue;
  width: 80%;
  display: flex;
  justify-content: center;
  img{
    width: 100%;
    height: auto;
  }
  @media only screen
  and (max-device-width: 813px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    height: auto;
    margin-top: rem(50);
    img{
      width: 100%;
    }
  }
  @media screen and (min-width: 767px){
    width: 100%;
  }
}

.content-text{
  border: 1px solid orange;
  text-align: center;
  width: 100%;
  height: rem(250);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h1{
    font-size: rem(35);
  }
  P{
    line-height: 32px;
  }
  button{
    width: rem(150);
    height: rem(40);
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: rem(16);
    &:hover{
      cursor: pointer;
    }
  }
  @media only screen
  and (max-device-width: 813px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    height: rem(250);
    P{
      font-size: rem(16);
      line-height: rem(25);
    }
  }
  @include media-min(767px) {
    width: 100%;
  }
}

.content-text-contact {
  margin-top: rem(40);
  margin-bottom: rem(15);
  text-align: center;
  a:hover{
    cursor: pointer;
  }
  @media screen and (min-width: 767px){
    margin-top: 0;
  }
}
